<h1>
Header to Idan's Website
</h1>
<h2>
Smaller Header - Smaller bullshit
</h2>
  <a href="http://www.google.com" target="_top">
 <h3>
Smaller Header linked to Google
</h3>
</a>
  <ul>
    <form action="/">
       <li>
          <label> Enter your name </label>
            <input name=text type="text" />
          </li> 
        <li> 
          <label> Add a file </label>
            <input name=file type="file" />
          </li>
         <li>
          <label for="chk" > Check this box </label>
            <input id="chk" type="checkbox" />
          </li> 
         <li> Just an ordinary list item 4
          </li>
         <li>
          <label> Here is a radio button! </label>
            <input name="radio_group" value=1 type="radio" />
          </li> 
      </form>  
  </ul>
  
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed justo   urna, sollicitudin ac est sed, laoreet iaculis elit. Suspendisse     potenti. Proin eleifend semper nisl sed consectetur. Donec cursus     augue vitae massa maximus dapibus. Lorem ipsum dolor.
  <br/>
  Sit amet, consectetur adipiscing elit. Proin dignissim ac massa sed   lobortis. Maecenas consectetur diam ac diam eleifend, id dignissim   mauris tristique. Ut maximus massa eget enim rhoncus molestie.       Donec facilisis ligula vitae neque lobortis aliquet.
</p>
<button onclick="/">
Cool ass button </button>

<h3>
This is a Lion:
</h3>
<img src="http://www.popphoto.com/sites/popphoto.com/files/styles/small_1x_/public/custom-touts/2015/07/dale_johnson.jpg?itok" />

<br/>
<br/>
<div>
This is a div
</div>
<div>
This is another div
</div>
<span>
  This is a span
</span>
<span>
  This is another span
</span>