<!DOCTYPE html>
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<div class="container-fluid mainpage">
    <div class="row">
        <div class="headerbox">
             <h1 class="my-header">
                 עוברים בעיר הגדולה </h1>
              <h2 class="my-header">
                  כל מה שצריך לדעת לפני שעוברים דירה בתל אביב </h2>
               <i class="fa fa-angle-down fa-5x animated bounceInDown headerarrow">  </i>
        </div>
    </div>       
</div>
    <div class="row">
         <div class="col-sm-6 checklist-container left-container1">
                <div class="checkmark-box">                
                     <i class="fa fa-check fa-2x checkmark"></i> 
                </div>
            <div class="checklist">לקחת מידות לסלון </div>
                 <div class="checkmark-box">                
                     <i class="fa fa-check fa-2x checkmark"></i> 
                </div>
            <div class="checklist"> להשיג ארגזים </div>
                <div class="checkmark-box">                
                     <i class="fa fa-check fa-2x checkmark"></i> 
                </div>
            <div class="checklist"> לקנות חומרי ניקוי </div>
   
         </div>
         <div class="col-sm-6 checklist-container right-container">
            <h3> רשימות צ׳ק ליסט </h3>
            <p> רשימות מוכנות להורדה של כל מה שתצטרכו לארוז, דברים להכין מראש, איזה כלי ניקוי לקנות, עם מי להתחשבן ועוד
            </p>
         </div>
         
         
          <div class="col-sm-6 checklist-container left-container1">
                <div class="mover-pic"> </div>
                <div class="mover-box">  משה הובלות              
                     <i class="fa fa-mobile fa-2x mover-number"> 050-5212710</i>
                </div>
         </div>
         <div class="col-sm-6 checklist-container right-container">
            <h3> המלצות למובילים </h3>
            <p> רשימות טלפונים למובילים הזולים והטובים בעיר, מנסיון
            </p>
         </div>
         
         
                  <div class="col-sm-6 checklist-container left-container1">
                 <div class="secret-parking-title">    חניות סודיות בעיר             
                </div>
                  <div class="secret-parking-body">כולנו מתלוננים על העירייה אבל יש כמה חוקים לא כתובים שיגרמו לכם לשמוח שקראתם...  </div>
   
         </div>
         <div class="col-sm-6 checklist-container right-container">
            <h3> טיפים מגניבים </h3>
            <p> איפה ניתן לחנות - כל מה שהעיריה לא אומרת, היכן קונים את הספה הכי זולה ועוד
            </p>
         </div>
         
            
    </div> 

</body>
</html>